.body {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: row;
}
.side-left {
  background-color: blueviolet;
  height: 200vh;
  width: 33%;
}

.side-right {
  height: 100vh;
  width: 100%;
  text-align: right;
  margin-right: 4rem;
}

.bottom-bar {
  position: fixed;
  width: 63rem;
  padding: 2rem;
  right: 0px;
  bottom: 0px;
  height: 40px;
  z-index: 1;
  background: #6b6a6a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-div input {
  padding: 0.6rem 8rem;
  border: 1px solid #333;
  border-radius: 3%;
}

.inner-div button {
  padding: 0.5rem 2rem;
  margin: 10px;
}
